# Not required for API operation.. it's just for directory aliasing on Apache configurations (make API endpoints prettier)

RewriteEngine On
RewriteRule ^apis/rsg/(.*)/?$ /apis/rsg\.php?url=$1 [QSA,L]
RewriteRule ^apis/kik/(.*)/?$ /apis/kik\.php?username=$1 [QSA,L]
RewriteRule ^apis/kik_https/(.*)/?$ /apis/kik_https\.php?username=$1 [QSA,L]
RewriteRule ^apis/psn/(.*)/?$ /apis/psn\.php?username=$1 [QSA,L]
RewriteRule ^intent?(.*)$ /rsg/intent.php?username=$1&compare_lsgov=$2&intent=$3 [L]

RewriteCond %{HTTP:X-Forwarded-Proto} !https 
